/*! Copied from developing/pomodoro/pomodoro.css */

#focus__app {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    user-select: none;
}

#focus__pomodoro-container {
    position: absolute;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
}

#focus__app>* { /* children need to have z-index because parent has position: static */
    z-index: 10000; /* Covers up the Grammarly extension which sits in the same place. Take that, Grammarly! */
}

#focus__foreground {
    transform: rotate(90deg);
    translate: 100px;
}

.focus__hidden { /* added/removed from classList */
    display: none !important;
    z-index: -1;
}

.focus__gray {
    /* background-color: #e5e5e5 !important; */
    background-color: #fff !important;
    filter: brightness(0.9) !important;
}

.focus__btn {
    border: 2px solid #444;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fafafa;
}
.focus__btn:hover {
    background-color: #eee;
}
.focus__btn:active {
    background-color: #ddd;
}

#focus__start-hover>* {
    z-index: 10000;
}
#focus__start-hover-children {
    min-width: 80px;
    padding: 8px 10px;
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding: 6px 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fafafa;
}
#focus__start-hover-triangle {
    position: absolute;
    bottom: 65px;
    right: 30px;
}
#focus__start-btn {
    filter: brightness(0.98); /* slightly darker bg */
    margin: 5px auto 1px auto;
    display: block;
    padding: 2px;
    border-color: #aaa;
}

#focus__middle-hover {
    position: absolute;
    display: flex;
    bottom: 64px;
    right: 30px;
    width: 50px;
    height: 25px; /* a little higher than the 50px real padding */
}
#focus__time-left-text {
    z-index: 10002;
    cursor: text;
}
#focus__time-left-editable { /* appears when editing #focus__time-left-text */
    position: absolute;
    bottom: 38px;
    right: 24px;
    width: 3.6ch;
    font-size: 24px;
    font-family: Helvetica;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border: 2px solid #464646;
    border-right-width: 1px;
    outline: none;
}
#focus__middle-hover-status, #focus__middle-hover-end-btn { /* children of middle items*/
    height: 20px;
    width: 25px;
    cursor: pointer;
    user-select: none;
}
#focus__finish-editing-time-left {
    position: absolute;
    bottom: 38px;
    right: 2px;
    width: 19px;
    height: 29.6px;
    background-color: rgb(10, 190, 10);
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #464646;
    border-left-width: 1px;
}

/* special button border override */
#focus__middle-hover-status {
    border-right-width: 1px;
    border-radius: 5px 0 0 5px;
}
#focus__middle-hover-end-btn {
    border-left-width: 1px;
    border-radius: 0 5px 5px 0;
}
#focus__middle-hover-end-btn>span {
    position: relative;
    top: 1.2px;
}

#focus__done-message {
    position: absolute;
    bottom: 60px;
    right: 10px;
    cursor: pointer;
}
