#focus-app {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#pomodoro-container {
    position: absolute;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
}

.hidden { /* added/removed from classList */
    display: none !important;
}

.btn {
    border: 2px solid #333;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fafafa;
}


#start-hover-children {
    min-width: 80px;
    padding: 8px 10px;
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding: 6px 10px;
    border: 2px solid #333;
}
#start-hover-triangle {
    position: absolute;
    bottom: 65px;
    right: 20px;

}
#start-btn {
    margin: 5px auto 1px auto;
    display: block;
    padding: 2px;
}

#middle-hover {
    position: absolute;
    display: flex;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 58px; /* a little higher than the 50px real padding */
    justify-content: center;
    align-items: flex-start;
}
#middle-hover-status, #middle-hover-end-btn { /* children of middle items*/
    height: 20px;
    width: 25px;
    cursor: pointer;
    user-select: none;
}
/* special button border override */
#middle-hover-status {
    border-right-width: 1px;
    border-radius: 5px 0 0 5px;
}
#middle-hover-end-btn {
    border-left-width: 1px;
    border-radius: 0 5px 5px 0;
}

#done-message {
    position: absolute;
    bottom: 60px;
    right: 10px;
    cursor: pointer;
}
